* {
  box-sizing: border-box;
}

.container{
  background-color: cyan;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

h1{
  text-align: center;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.list{
  width: 200px;
  background-color: green;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-image{
  width: 100%;
}

.card-body{
  padding: 10px;
  text-align: center;
}

.typeOfFood{
  color: lightgreen;
}

a{
  background-color: teal;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.form-control{
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  margin-bottom: 30px;
}

.btn{
  font-size: 30px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: rgb(45, 174, 179);
  background: blue;
}

.title{
  font-size: 40px;
  color: rgb(53, 164, 38);
  margin-bottom: 60px;
}